<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DEUS Library{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link type="text/css" href="{{ asset("css/simdb/verysimple.css") }}" rel="Stylesheet" />
        <link type="text/css" href="{{ asset("css/start/jquery-ui-1.9.2.custom.min.css") }}" rel="Stylesheet" />
        <link type="text/css" href="{{ asset("css/deuvo.css") }}" rel="Stylesheet" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div id="header">

            <h1>
                <a id="logo" class="ie6" title="DEUS consortium - Dark Energy Universe Simulations" href="http://www.deus-consortium.org/">DEUS consortium - Dark Energy Universe Simulations</a>
            </h1>

            <div class="titre">Dark Energy Universe Simulations Library</div>

            <!-- Menu -->
            <div class="blue">
                <div id="slatenav">
                    <ul>
                        <li><a href="{{ url('homepage') }}" {#class="current"#}>Simulations</a></li>
                        <li><a href="{{ url('documentation') }}">Documentation</a></li>
                        <li><a href="{{ url('credits') }}">Credits</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
