<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>{% block title %}DEUS Library{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css"
          href="http://www.deus-consortium.org/wp-content/themes/complexity/layout/css/reset.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://www.deus-consortium.org/wp-content/themes/complexity/layout/plugins/prettyphoto/css/prettyPhoto.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://www.deus-consortium.org/wp-content/themes/complexity/style.css?ts=<?=time();?>"/>

    <!-- CSS for specific color variation -->
    <link rel="stylesheet" type="text/css"
          href="http://www.deus-consortium.org/wp-content/themes/complexity/layout/css/style7.css?ts=<?=time();?>"/>

    <link type="text/css" href="{{ asset("css/deus-library.css") }}" rel="Stylesheet"/>

    <!-- Wordpress Header stuff -->
    <link rel="alternate" type="application/rss+xml"
          title="DEUS consortium - Dark Energy Universe Simulations &raquo; Flux"
          href="http://www.deus-consortium.org/feed/"/>
    <link rel="alternate" type="application/rss+xml"
          title="DEUS consortium - Dark Energy Universe Simulations &raquo; Flux des commentaires"
          href="http://www.deus-consortium.org/comments/feed/"/>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "http:\/\/s.w.org\/images\/core\/emoji\/72x72\/",
            "ext": ".png",
            "source": {"concatemoji": "http:\/\/www.deus-consortium.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.2"}
        };
        !function (a, b, c) {
            function d(a) {
                var c = b.createElement("canvas"), d = c.getContext && c.getContext("2d");
                return d && d.fillText ? (d.textBaseline = "top", d.font = "600 32px Arial", "flag" === a ? (d.fillText(String.fromCharCode(55356, 56812, 55356, 56807), 0, 0), c.toDataURL().length > 3e3) : (d.fillText(String.fromCharCode(55357, 56835), 0, 0), 0 !== d.getImageData(16, 16, 1, 1).data[0])) : !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var f, g;
            c.supports = {simple: d("simple"), flag: d("flag")}, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.simple && c.supports.flag || (g = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='NextGEN-css'
          href='http://www.deus-consortium.org/wp-content/plugins/nextgen-gallery/css/nggallery.css?ver=1.0.0'
          type='text/css' media='screen'/>
    <link rel='stylesheet' id='shutter-css'
          href='http://www.deus-consortium.org/wp-content/plugins/nextgen-gallery/shutter/shutter-reloaded.css?ver=1.3.4'
          type='text/css' media='screen'/>

    <!-- Multi-level Navigation Plugin v2.2.1 by PixoPoint Web Development ... http://pixopoint.com/multi-level-navigation/ -->
    <link rel="stylesheet" type="text/css"
          href="http://www.deus-consortium.org/wp-content/plugins/multi-level-navigation-plugin/style.php"/>
    <script type='text/javascript'
            src='http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js?ver=4.2.2'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var shutterSettings = {"msgLoading": "L O A D I N G", "msgClose": "Click to Close", "imageCount": "1"};
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='http://www.deus-consortium.org/wp-content/plugins/nextgen-gallery/shutter/shutter-reloaded.js?ver=1.3.3'></script>
    <script type='text/javascript'
            src='http://www.deus-consortium.org/wp-includes/js/swfobject.js?ver=2.2-20120417'></script>
    <script type='text/javascript'
            src='http://www.deus-consortium.org/wp-includes/js/jquery/jquery.js?ver=1.11.2'></script>
    <script type='text/javascript'
            src='http://www.deus-consortium.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript'
            src='http://www.deus-consortium.org/wp-includes/js/hoverIntent.min.js?ver=1.8.1'></script>
    <script type='text/javascript'
            src='http://www.deus-consortium.org/wp-content/plugins/multi-level-navigation-plugin/scripts/superfish.js?ver=1.4.8'></script>
    <script type='text/javascript'
            src='http://www.deus-consortium.org/wp-content/plugins/multi-level-navigation-plugin/scripts/superfish_settings.js.php?ver=1.0'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.deus-consortium.org/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="http://www.deus-consortium.org/wp-includes/wlwmanifest.xml"/>
    <meta name="generator" content="WordPress 4.2.2"/>
    <link rel='canonical' href='http://www.deus-consortium.org/members/contact/'/>
    <link rel='shortlink' href='http://www.deus-consortium.org/?p=108'/>
    <!-- <meta name="NextGEN" version="1.9.2" /> -->
    <link id='MediaRSS' rel='alternate' type='application/rss+xml' title='NextGEN Gallery RSS Feed'
          href='http://www.deus-consortium.org/wp-content/plugins/nextgen-gallery/xml/media-rss.php'/>
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #bbb;
            background-image: url('http://www.deus-consortium.org/wp-content/uploads/2012/02/fond-162-sucdm22.jpg');
            background-repeat: repeat;
            background-position: top left;
            background-attachment: scroll;
        }
    </style>
    <link rel="pingback" href="http://www.deus-consortium.org/xmlrpc.php"/>

    <!-- JS -->
    <script type="text/javascript"
            src="http://www.deus-consortium.org/wp-content/themes/complexity/layout/js/cycle.js"></script>
    <script type="text/javascript"
            src="http://www.deus-consortium.org/wp-content/themes/complexity/layout/js/hoverIntent.js"></script>
    <script type="text/javascript"
            src="http://www.deus-consortium.org/wp-content/themes/complexity/layout/js/superfish.js"></script>
    <script type="text/javascript"
            src="http://www.deus-consortium.org/wp-content/themes/complexity/layout/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript"
            src="http://www.deus-consortium.org/wp-content/themes/complexity/layout/js/validate.js"></script>
    <script type="text/javascript"
            src="http://www.deus-consortium.org/wp-content/themes/complexity/layout/js/custom.js"></script>

    <!--[if IE 6]>
    <script type='text/javascript'
            src='http://www.deus-consortium.org/wp-content/themes/complexity/layout/js/dd_belated_png.js'></script>
    <script>DD_belatedPNG.fix('.ie6');</script>
    <![endif]-->

    <!-- Slideshow Nav -->
    <script type="text/javascript">
        function paginate(idx, slide) {
            return '<a href="" title="" class="ie6"><img src="http://www.deus-consortium.org/wp-content/themes/complexity/layout/images/transparent.png" alt="" class="ie6" /></a>';
        }
    </script>


    <script type="text/javascript"
            src="{{ asset("js/deus-library.js") }}"></script>

    <!-- Custom CSS -->
    <style type="text/css">
        #logo {
            background-image: url('http://deus.obspm.fr/wp-content/uploads/2010/09/logo.png');
        }

        .widget li {
            background: none;
        }

    </style>

    <!-- Comments -->

    <!-- Meta Tags (for js) -->
    <meta name="template_url" content="http://www.deus-consortium.org/wp-content/themes/complexity"/>

</head>

<body>

<div id="wrapper">

    <!-- HEADER (start) -->

    <div id="header">

        <h1><a href="http://www.deus-consortium.org/" title="DEUS consortium &#8211; Dark Energy Universe Simulations"
               id="logo" class="ie6">DEUS consortium &#8211; Dark Energy Universe Simulations</a></h1>

        <!-- Header Area Widgets (start) -->


        <!-- Header Area Widgets (end) -->

        <div style="display:block; position:absolute; top:27px; left:339px;z-index:10;">
            <a href="http://www.deus-consortium.org/a-propos/dark-energy-universe-simulation-full-universe-run/"><img
                        src="http://www.deus-consortium.org/wp-content/themes/complexity/first_full_universe_simulation.png"
                        alt="First-ever full observable universe simulation"/></a>
        </div>

        <div style="display:block; position:absolute; top:27px; right:0px;z-index:15;">
            <a href="http://www.youtube.com/user/DEUSConsortium" target="_blank" title="Deus Consortium on YouTube"><img
                        src="http://www.deus-consortium.org//wp-content/themes/complexity/layout/images/youtube.png"
                        alt="Deus Consortium on YouTube"/></a>
            <a href="http://www.dailymotion.com/DEUSConsortium" target="_blank"
               title="Deus Consortium on Dailymotion"><img
                        src="http://www.deus-consortium.org//wp-content/themes/complexity/layout/images/dailymotion.png"
                        alt="Deus Consortium on Dailymotion"/></a>
        </div>

        <div class="clear"></div>

    </div><!-- #header (end) -->

    <!-- HEADER (end) -->

    <!-- MAIN MENU (start) -->

    <div id="menu-wrapper" class="ie6">

        <ul id="menu-menu-principal" class="menu">
            <li id="menu-item-253" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-253"><a
                        href="http://deus.obspm.fr/">Home</a></li>
            <li id="menu-item-263"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-263"><a
                        href="http://www.deus-consortium.org/overview/">Science</a>
                <ul class="sub-menu">
                    <li id="menu-item-459"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-459"><a
                                href="http://www.deus-consortium.org/overview/dark-energy/">Dark Energy</a></li>
                    <li id="menu-item-262"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-262">
                        <a href="http://www.deus-consortium.org/overview/results/">Results</a>
                        <ul class="sub-menu">
                            <li id="menu-item-258"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258"><a
                                        href="http://www.deus-consortium.org/overview/results/non-linear-dynamics/">Non
                                    Linear Dynamics</a></li>
                            <li id="menu-item-261"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-261"><a
                                        href="http://www.deus-consortium.org/overview/results/mass-function/">Halo Mass
                                    Function</a></li>
                            <li id="menu-item-1447"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1447"><a
                                        href="http://www.deus-consortium.org/overview/results/halos-profil/">Halo
                                    Profiles &#8211; Sparsity</a></li>
                            <li id="menu-item-1440"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1440"><a
                                        href="http://www.deus-consortium.org/overview/results/bao/">BAO &#8211; Cosmic
                                    variance</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-item-264"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-264"><a
                        href="http://www.deus-consortium.org/a-propos/">Simulations</a>
                <ul class="sub-menu">
                    <li id="menu-item-259"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-259">
                        <a href="http://www.deus-consortium.org/a-propos/cosmological-models/">DEUSS</a>
                        <ul class="sub-menu">
                            <li id="menu-item-256"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"><a
                                        href="http://www.deus-consortium.org/a-propos/cosmological-models/cosmological-models/">Cosmological
                                    Models</a></li>
                            <li id="menu-item-257"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257"><a
                                        href="http://www.deus-consortium.org/a-propos/cosmological-models/initial-conditions/">Initial
                                    Conditions</a></li>
                            <li id="menu-item-444"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444"><a
                                        href="http://www.deus-consortium.org/a-propos/cosmological-models/run/">Run</a>
                            </li>
                            <li id="menu-item-445"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a
                                        href="http://www.deus-consortium.org/a-propos/cosmological-models/post-processing/">Post-processing</a>
                            </li>
                            <li id="menu-item-448"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a
                                        href="http://www.deus-consortium.org/a-propos/cosmological-models/data/">Data</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-1014"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1014">
                        <a href="http://www.deus-consortium.org/a-propos/dark-energy-universe-simulation-full-universe-run/">DEUS
                            &#8211; FULL UNIVERSE RUN</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1032"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1032"><a
                                        href="http://www.deus-consortium.org/a-propos/dark-energy-universe-simulation-full-universe-run/deus-fur-simulation-team/">DEUS
                                    FUR Simulation Team</a></li>
                            <li id="menu-item-1031"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1031"><a
                                        href="http://www.deus-consortium.org/a-propos/dark-energy-universe-simulation-full-universe-run/numerical-parameters/">DEUS
                                    FUR Characteristics</a></li>
                            <li id="menu-item-810"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-810"><a
                                        href="http://www.deus-consortium.org/a-propos/dark-energy-universe-simulation-full-universe-run/cosmological-models-2/">Cosmological
                                    Models</a></li>
                            <li id="menu-item-1029"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1029"><a
                                        href="http://www.deus-consortium.org/a-propos/dark-energy-universe-simulation-full-universe-run/first-results-in-comoving-space/">First
                                    Results in Comoving Space</a></li>
                            <li id="menu-item-1030"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1030"><a
                                        href="http://www.deus-consortium.org/a-propos/dark-energy-universe-simulation-full-universe-run/first-results-in-redshift-space/">First
                                    Results in Redshift Space</a></li>
                            <li id="menu-item-1348"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1348"><a
                                        href="http://www.deus-consortium.org/a-propos/dark-energy-universe-simulation-full-universe-run/cosmology-comparison/">Cosmology
                                    Comparison</a></li>
                            <li id="menu-item-887"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887"><a
                                        href="http://www.deus-consortium.org/a-propos/dark-energy-universe-simulation-full-universe-run/data-2/">Data</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-item-265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265"><a
                        href="http://www.deus-consortium.org/data/">Data</a></li>
            <li id="menu-item-266"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-266"><a
                        href="http://www.deus-consortium.org/gallery/">Gallery</a>
                <ul class="sub-menu">
                    <li id="menu-item-524"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-524"><a
                                href="http://www.deus-consortium.org/gallery/posters/">Posters</a></li>
                    <li id="menu-item-292"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a
                                href="http://www.deus-consortium.org/gallery/images/">Images</a></li>
                    <li id="menu-item-293"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a
                                href="http://www.deus-consortium.org/gallery/videos/">Videos</a></li>
                    <li id="menu-item-1009"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1009"><a
                                href="http://www.deus-consortium.org/gallery/deus-fur-posters/">DEUS FUR Posters</a>
                    </li>
                    <li id="menu-item-994"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-994"><a
                                href="http://www.deus-consortium.org/gallery/pictures-deus-full-universe-run/">DEUS FUR
                            Images</a></li>
                    <li id="menu-item-1182"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1182"><a
                                href="http://www.deus-consortium.org/gallery/deus-fur-videos/">DEUS FUR Videos</a></li>
                    <li id="menu-item-1312"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1312"><a
                                href="http://www.deus-consortium.org/gallery/cnrs-documentary/">CNRS Documentary</a>
                    </li>
                </ul>
            </li>
            <li id="menu-item-267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-267"><a
                        href="http://www.deus-consortium.org/sc201/">Publications</a></li>
            <li id="menu-item-260"
                class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-260">
                <a href="http://www.deus-consortium.org/members/">Consortium</a>
                <ul class="sub-menu">
                    <li id="menu-item-317"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-317"><a
                                href="http://www.deus-consortium.org/category/events/">Events</a></li>
                    <li id="menu-item-255"
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-108 current_page_item menu-item-255">
                        <a href="http://www.deus-consortium.org/members/contact/">Contact</a></li>
                </ul>
            </li>
            <li id="menu-item-1150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1150"><a
                        href="http://www.deus-consortium.org/press/">Press</a></li>
        </ul>
        <form method="get" id="searchform" action="http://www.deus-consortium.org/">
            <div>
                <input type="text" class="" value="" name="s" id="search-input"/>
                <input type="submit" class="ie6" id="searchsubmit" value=""/>
            </div>
        </form>

    </div><!-- menu-wrapper (end) -->

    <!-- MAIN MENU (end) -->


    <div id="main">

        <!-- PRIMARY CONTENT (start) -->

        <div id="primary" class="ie6">

            <div id="sidebar">



                <div class="widget"><h2>Navigation</h2>
                    <ul id="submenu">
                        <li><a href="{{ url("homepage") }}" title="Presentation" {% if app.request.attributes.get('_route') == 'homepage' %}class="current_page_item"{% endif %}>Data presentation</a></li>
                        <li><a href="{{ url("cone") }}" title="Redshift Space: cone of light build from snapshots" {% if app.request.attributes.get('_route') == 'cone' %}class="current_page_item"{% endif %}>Redshift Space</a></li>
                        <li><a href="{{ url("snapshot") }}" title="Comoving Space: snaphots of the simulation by Z" {% if app.request.attributes.get('_route') == 'snapshot' %}class="current_page_item"{% endif %}>Comoving Space</a></li>
                        <li><a href="{{ url("documentation") }}" title="Documentation" {% if app.request.attributes.get('_route') == 'documentation' %}class="current_page_item"{% endif %}>Documentation</a></li>
                    </ul>
                </div>
            </div><!-- #sidebar (end) -->
            <div id="content">
                <div class="pad">

                    <h2 class="page-title">{{ block('title') }}</h2>

                    <div id="waiting" style="display: none">
                        <div style="text-align: center; width: 100%; padding: 30px;">
                            <img src="{{ asset("images/loading.gif") }}" alt="loading"/>
                        </div>
                    </div>
                    {% block content %}
                    {% endblock %}

                </div><!-- .pad (end) -->
            </div><!-- #content (end) -->


            <div class="clear"></div>

        </div><!-- #primary (end) -->

        <!-- PRIMARY CONTENT (end) -->

        <!-- FOOTER (start) -->

        <div id="footer-top" class="ie6"><!-- --></div>

        <div id="footer-widget-area" class="ie6">

            <div id="footer-widget-area-inner" class="ie6">

                <!-- Footer Widgets (start) -->


                <div class="clear"></div>

                <!-- Footer Widgets (end) -->

            </div><!-- #footer-widget-area-inner (end) -->

        </div><!-- #footer-widget-area (end) -->

        <!-- PRIMARY CONTENT (end) -->

        <!-- FOOTER (start) -->

        <div id="footer-top" class="ie6"><!-- --></div>

        <div id="footer-widget-area" class="ie6">

            <div id="footer-widget-area-inner" class="ie6">

                <!-- Footer Widgets (start) -->


                <div class="clear"></div>

                <!-- Footer Widgets (end) -->

            </div><!-- #footer-widget-area-inner (end) -->

        </div><!-- #footer-widget-area (end) -->

        <!-- FOOTER (end) -->

    </div><!-- #main (end) -->

    <div id="copyright" class="ie6">
        <div class="pad">

            &copy;2016 DEUS consortium &#8211; Dark Energy Universe Simulations - Webdesign by <a
                    href="http://www.ame-en-science.com">Ame en Science</a>

        </div><!-- .pad (end) -->
    </div><!-- #footer (end) -->

</div><!-- #wrapper (end) -->

<script type='text/javascript'
        src='http://www.deus-consortium.org/wp-includes/js/comment-reply.min.js?ver=4.2.2'></script>


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2538723-18']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
