{% extends 'base.html.twig' %}

{% block title %}
    DEUS Library: Redshift space
{% endblock %}

{% block content %}

      <div id="layout">

         <h3>1. Click to select your simulation</h3>
         <div>

             <table id="simulationsTable">
                 <tr>
                     <th>Box length</th>
                     {% for cosmo in cosmologies %}
                         <th>{{ cosmo }}</th>
                     {% endfor %}
                 </tr>
                 {% for boxlen,snapshot in snapshots %}
                     <tr>
                         <th>{{ boxlen }} Mpc/h</th>
                         {% for cosmo in cosmologies %}
                             <td>
                                 {% if snapshot[cosmo] is defined %}
                                     {% for resolution,simulation in snapshot[cosmo] %}
                                         <a href="{{ url('cones', {"id": simulation.id}) }}" class="startSimu">{{ simulation.mass }} ({{ resolution }}<sup>3</sup>&nbsp;parts)</a><br/>
                                     {% endfor %}
                                 {% else %}
                                     &nbsp;
                                 {% endif %}
                             </td>
                         {% endfor %}
                     </tr>
                 {% endfor %}
             </table>

             <div id="snapshots">
                 <div class="download_bloc">
                     <em>To get you data, please first select the simulation your are interested in<br/>by clicking on it in the above table </em>
                 </div>
             </div>

         </div>

      </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
